<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Book Xchange</h1>
          <p class="intro-text" style="color: black">
          	<strong>It's time to exchange your books for new ones!
              <br>Sign up and start a new reading </strong>
          </p>
          <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
	</div>
</header>